body {
    font-family: Verdana, Geneva, Arial, sans-serif;
}
@font-face {
    font-family: "Lobster";
    src: url("../fonts/Lobster/LobsterRegular/LobsterRegular.woff") format("woff"),
    url("../fonts/Lobster/LobsterRegular/LobsterRegular.ttf");
}
h1 {
    font-family: "Lobster", sans-serif;
}