body {
    font-family: Verdana, Geneva, Arial, sans-serif;
}
@font-face {
    font-family: "Lobster";
    src: url("lobsterRegular.woff"),
        url("lobsterRegular.ttf");
}
h1 {
    font-family: "Lobster", sans-serif;
}